@model List<TaskViewModel>

@{
    ViewData["Title"] = "All Tasks";
}
<div class="text-center">
    <h1 class="display-4" style="color: #EFCFC3; font-weight: bold; font-style: italic">
        @ViewData["Title"]
    </h1>
    @if(@ViewBag.UserMessage != null)
    {
        <h3><i style="color: yellow; background-color: green; border-radius: 5px;">
            @ViewBag.UserMessage</i>
        </h3>
    }
    <br/>
    @if(Model == null || Model.Count() <= 0)
    {
        <h2 style="color: black; font-weight: bold">
            There is no tasks.
        </h2>
    }
    else
    {
        <table class="table table-hover" style="width: 1280px ;color: black; text-align: center; backdrop-filter: blur(35px); border: 4px solid; border-color: #EFCFC3; background-color: darkgray;">
            <thead>
                <tr>
                    <th style="text-align:center">Title</th>
                    <th style="text-align:center">Status</th>
                    <th style="text-align:center">Description</th>
                    <th style="text-align:center">Created on</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var task in @Model)
                {
                    <tr name="trData" onclick="location.href='@Url.Action("Details", "Tasks", new { task.Id })'">
                        <td style="text-align: center">@Html.DisplayFor(modelItem => task.Title)</td>
                        <td style="text-align:center">@Html.DisplayFor(modelItem => task.BoardName)</td>
                        <td style="text-align:center">@Html.DisplayFor(modelItem => task.Description)</td>
                        <td style="text-align:center">@Html.DisplayFor(modelItem => task.CreatedOn)</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    <div>
        <a class="btn btn-success mt-2" asp-controller="Tasks" asp-action="Create">Create new task</a>
    </div>
</div>


