@{
    ViewData["Title"] = "Home Page";
}

@if(!User?.Identity?.IsAuthenticated ?? false)
{
    <div class="text-center">
        <h1 class="display-4" style="color: #EFCFC3; font-weight: bold; font-style: italic">
            Welcome to Task Board! 
        </h1>
        <h2>
            <i>To Create your own Board you must Log In or Register. </i>
        </h2>
    </div>
}

else
{
    <section class="home-page text-center">
        <h1 class="display-4" style="color: #EFCFC3; font-weight: bold; font-style: italic">
            Welcome, @this.User?.Identity?.Name!
        </h1> 
        <hr class="hr-2 bg-secondary" />
        <h4 class="mt-4 text-center">TaskBoard is here for all your tasks.</h4>
        <br />
        <span class="boardSpan">Tasks: <b>@Model.AllTasksCount</b></span>
        <ul>
            @foreach (var board in Model.BoardsWithTasksCount)
            {
                <li>
                    <span class="boardSpan">@board.BoardName: <b>@board.TasksCount</b></span>
                </li>
            }
        </ul>
        @if (Model.UserTasksCount > -1)
        {
            <h5>There is : <b>@Model.UserTasksCount</b> tasks</h5>
        }
    </section>
}