@model AllBoardTasksWithUserTasksCountViewModel

@{
    ViewData["Title"] = "Home Page";
}

@if(!User?.Identity?.IsAuthenticated ?? false)
{
    <div class="text-center ">
        <h1 class="display-4" style="color: #EFCFC3; font-weight: bold; font-style: italic">
            Welcome to Task Board! 
        </h1>
        <h3 style="color: white;">
            <i>To Create your own Board you must Log In or Register. </i>
        </h3>
    </div>
}
else
{
    <h1 class="text-center display-4" style="color: #EFCFC3; font-weight: bold; font-style: italic">
        Welcome, @this.User?.Identity?.Name!
    </h1>
    <h3 class="mt-4 text-center" style="color:  #EFCFC3;">TaskBoard is here for all your tasks.</h3>
    <br />
    @if(Model != null && Model.AllTasksCount > 0)
    {
        <section class="col-md-6 mx-auto" style="color: white; text-align: center; backdrop-filter: blur(35px); border: 4px solid; border-color: #EFCFC3; border-radius: 15px; background-color: transparent;">
            <h5 class="boardSpan mt-2">All Tasks: @Model.AllTasksCount</h5>
            <hr/>
                @foreach (var board in Model.BoardTasks)
                    {
                        <h6>
                            @board.BoardName: <b>@board.TasksCount</b>
                        </h6>
                    }
                    <hr/>

                    @if (Model.UsersTasksCount > 0)
                    {
                        <h5 style="font-style: italic">You have: <b>@Model.UsersTasksCount</b> tasks</h5>
                    }
                    else
                    {
                        <h5 style="font-style: italic"><b>You don't have tasks</b></h5>
                    }
        </section>
    }
    else
    {
        <h2 class="text-center" style="color: black; font-weight: bold">
            <i>No tasks yet.</i>
        </h2>  
    }
}